.title-listPrd li {
    color: black;
}
.listPrd {
    margin: 60px 0;
}
 .title-listPrd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #ececec;
    padding-bottom: 10px;
}
.title-listPrd :nth-child(2) {
    margin-left: 40px;
}
.listPrd  .form-cart li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ececec;
    padding: 20px 0 ; 
    font-weight: bold;
}
.form-cart i {
    color: #9e9c9c;
    font-size: 25px
}
.form-cart p {
    color: #2b2828;
}
.form-cart h3 {
    color: black;
}
.form-cart .price {
    margin-right: 40px;
}
.form-cart img {
    width: 80px;
    height: 80px;
}
.product-quantity {
    margin-right: 50px;
}
.product-quantity input {
     /* padding: 5px 2px;
    width: 35px;  */
    text-align: center;
    color: red;
}
.product-quantity button {
    padding: 5px;
}
/* .product-quantity :first-child {
    margin-right: -2px;
} 
.product-quantity :last-child {
    margin-left: -20px;
} */
.cart-collaterals {
    margin:60px 0;
    padding-left: 20px;
    border-left: 1px solid #9e9c9c;
}
.cart-collaterals ul li,
.cart-collaterals ul li span {
    color:black;
}
.cart-collaterals h3 {
    border-bottom: 3px solid #ececec;
    padding-bottom: 10px;
    font-weight: bold;
}
.cart-collaterals .cart_totals li {
    padding: 20px 0;
    border-bottom: 2px solid #ececec;
}
.cart-collaterals button {
    width: 100%;
    background-color: #c96442;
    outline: none;
    border: none;
    padding: 10px 20px;
    color:  white;
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
}
.cart-collaterals button:hover {
    background-color: #a8583c;
    cursor: pointer;
    transition: 0.3s;
}
.cart-collaterals .sale i {
    color :#9e9c9c;
    transform: rotateY(180deg);
    margin-right: 10px;
}
.cart-collaterals .sale input {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    outline: none;
}
.cart-collaterals .sale .vouchers {
    display: flex;
    padding: 20px 0;
}
/* ========================= number (giỏ hàng) ============================ */
